.leo{
    display: flex;
}
.fom{
    display: flex;
    font-size:xx-large;
}
body{
    background: linear-gradient(to bottom, rgb(110, 17, 17), rgb(93, 9, 9));
}
p{
    color: aliceblue;
    flex-direction: column;
    font-size:larger;
    flex-direction: column;
}
.lili{
    color: red;
}
h2{
    color: whitesmoke;
}
.bar{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    font-size: medium;
}
.bar a {
    text-decoration: none;
    color: whitesmoke;
    padding: 40px;
    font-size: medium;
}
.bar a:hover {
    background-color: red;
}
.button a {
    color: antiquewhite;
}
.button{
        display: flex;
        font-size: medium;
        border: solid 2px;
        background-color: red;
        color: antiquewhite;
        border-color: red;
    }
.one{
    display: flex;
    padding: none;
}
.one a {
    padding: none;
}
h4{
    color: whitesmoke;
}
.kata{
    color: red;
}
.zii{
    display: flex;
}
h4{
    font-size: x-large;
}
.latina{
    font-family: lucida sans;
}
#ops{
    margin-left: 250px;
    padding-top: 40px;
}
.zima{
    border: solid 1px;
    background-color: red;
    border-color: red;
    padding: 5px;
}
.popo{
    justify-content: center;
    color: red;
    display: flex;
    font-size: x-large;
}
footer{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
form {
    max-width: 400px;
    width: 100%;
    background-color: black;
    padding: 10px;
}
label{
    color: antiquewhite;
}
.timo{
    margin-left: 100px;
}
.rema{
    padding-left: 10px;
}
.mama{
    font-family: sans-serif;
}
