.leo{
    display: flex;
}
.fom{
    display: flex;
}
body{
    background: linear-gradient(to top, red, black);
}
p{
    color: aliceblue;
    flex-direction: column;
    font-size:medium;
    flex-direction: column;
}
.lili{
    color: red;
}
h2{
    color: whitesmoke;
}
.bar{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    font-size: medium;
}
.bar a {
    text-decoration: none;
    color: whitesmoke;
    padding: 40px;
    font-size: medium;
}
.bar a:hover {
    background-color: red;
}
.button a {
    color: antiquewhite;
}
.button{
        display: flex;
        font-size: medium;
    }
.one{
    display: flex;
    padding: none;
}
.one a {
    padding: none;
}
h4{
    color: whitesmoke;
}